DATABASE_USER=postgres
DATABASE_PASSWORD=pass123
DATABASE_HOST=localhost
# DATABASE_HOST=db
DATABASE_NAME=fast-movies

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_QUEUE=movies_queue
